body{
    background-color: DarkSeaGreen;
}
#titulo1{
    text-align: center;
    margin-bottom:2px;
    font-size: 50px;
}
.margem{
    padding-right:8%;
    padding-left:8%;
    margin-top: 20px;
    
}

.texto{
    font-size:150%;
    margin-top:5px;
     
}

.titulo{
    margin-bottom:5px;
    text-align: left;
}
.margem2{
    margin-top: 20px;
    
}
.texto2{
    font-size:150%;
    margin-top:5px;
}